/* $Id$ */

/** Body **/
body {
  line-height: 1.3;
  color: #2c2c2c;
  font-size: 81.25%;
  font-family: Helvetica, sans-serif;
  background-color: #F9FAFB;
}

/** Links **/
a {
  color: #2499C5;
}

/** Tables **/
table {
  width: 100%;
}
table th,
table td {
  padding: 1em 1.15em;
}
table thead {
  background-color: #434343;
  color: #f5f5ee;
}
table tbody tr.odd {
  background-color: #f5f5f5;
}
table tbody tr.odd td {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
table tbody tr.even {
  background-color: #fff;
}
table tr.draggable td {
  padding: 0.7em 1.15em;
}
table caption {
  text-align: left;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.55em;
}

/** Headers **/

h1 {
  color: #8cd900;
  font-size: 3.2em;
  font-weight: bold;
  margin: 0.5em 0;
}
h1 a {
  font-size: inherit;
}
h2 {
  font-size: 1.9em;
  font-weight: bold;
  margin: 0.5em 0;
}
h2 a {
  text-decoration: none;
  font-size: inherit;
}
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.1em;
}
h6  {
  font-size: 1em;
}

/** Lists **/
ul li,
ol li,
dl dt,
dl dd {
  line-height: 165%;
}
body.html ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding-left: 1em;
  background: url(../images/bullet.png) no-repeat 0px 9px;
  color: #2C2C2C;
}
ul.inline li {
  display: inline;
}
ol {
  list-style: decimal;
  padding-left: 1.5em;
}
dl dt {
  margin-top: 18px;
  font-weight: 900;
}

/** Form code **/
form fieldset {
  border: 1px solid #d3d3d3;
  display: block;
  width: 100%;
}
form input.form-text,
form input.form-password,
form input.form-file,
form textarea,
form button {
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
}
form input.form-text,
form input.form-password,
form textarea {
  color: #404040;
  border: 1px solid #d3d3d3;
  background-color: #fbfbfb;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}
form input.form-text:focus,
form input.form-password:focus,
form textarea:focus {
  border: #2499c5 1px solid;
  background-color: #ffffff;
}
form input.form-file {
  border: none;
  background: none;
}
form input.form-checkbox,
form input.form-radio {
  display: inline;
}
form input.form-button,
form input.form-submit {
  padding: 0.7em;
  background-color: #42afd1;
  color: white;
  border: none;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  padding: 0.6em 1.2em;
}
form input.form-button:hover,
form input.form-submit:hover {
  background-color: #31a6cb;
}
form .resizable-textarea .grippie {
  height: 12px;
  position: relative;
  top: -12px;
  border: 1px solid #DCDCAE;
  overflow: hidden;
  background: #38abcb url(../images/grippie.png) no-repeat center center;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  left: 8px;
  margin: 0 -8px !important;
}
form .resizable-textarea .grippie:hover {
  background-color: #9bc325;
}
.resizable-textarea {
  margin-bottom: -12px;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  width: 100%;
}
.filter-wrapper {
  padding: 1.5em 0.5em;
}
form select option {
  border: none;
}
form .marker,
.form-required {
  color: #f00;
}
html.js input.form-autocomplete {
  background-position: 100% 7px;
}
html.js input.throbbing {
  background-position: 100% -13px;
}
form fieldset {
  width: auto;
}

/** Miscelanious elements **/
code {
  background-color: #e8efd1;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  font-size: 1.23em;
  padding: 0.1em 0.3em;
}
pre code {
  display: block;
}
del {
  text-decoration: none;
  background: url(../images/strike.png) repeat-x center right;
}